.modal-warpper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;

    background: rgba(4, 9, 17, .8);
}

.modal-warpper .modal {
    width: min(59rem, 90%);
    background: var(--white);
    margin: auto;
    border-radius: .8rem;
    font-family: 'poppins', sans-serif;
    text-align: center;

    padding: 6.4rem;

}

.modal-warpper .modal h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: var(--black);
}

.modal-warpper .modal p {
    margin-bottom: 2.4rem;
    color: var(--gray-dark);
}

.modal-warpper .modal input {
    margin-bottom: 4rem;
    padding: 1.3rem 1.6rem;
    border: .2rem solid var(--blue);
    outline: none;
    width: min(70%, 30.2rem);
}


.modal-warpper .modal .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-warpper .modal .buttons>button {
    margin-left: .8rem;
}

.modal-warpper .modal .buttons>button,
.modal-warpper .modal .buttons>.button {
    padding: 1.3rem 3.2rem;
}